:root {
	// background
	--bg-primary: #FFF;
	--bg-brand-primary: #F0F6FF;
	--bg-secondary: #F5F5F8;
	--bg-tertiary: #F9FAFB;
	--bg-brand: #1975FF;
	--bg-hover-primary: #0052CC;
	--bg-brand-extra-light: #CCE0FF;
	--bg-disabled:#F3F4F6;
	--overlay-color: rgba(0 0 0 / 60%);
	--bg-success-color: #ECF9F2;
	--bg-error-color: #f9ecec;

	// text
	--text-primary-color: #141C24;
	--text-secondary-color: #344051;
	--text-tertiary-color:#637083;
	--text-quartenery-color: #97A1AF;
	--text-invert-color: #fff;


	// border
	--border-light-color: #CED2DA;
	--border-extra-light-color: #E3E5E5;

	// indicators
	--indicator-focused-color: #4C94FF;
	--indicator-error-color: #F64C4C;
	--indicator-attention-color: #FFB219;
	--indicator-light-color: #CED2DA;
	--indicator-medium-color:#97A1AF;
	--indicator-positive-color: #4ECF53;
}