.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 32px;
	border: 2px solid transparent;
	border-radius: 18px;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.2s ease-out;

	&:disabled {
    cursor: auto;
  }
}


.primary_filled {
	background:#1975FF;
	color: #fff;
	
	&:hover {
		background: #0052CC;
	}

	&:focus {
		border-color:#CCE0FF;
	}

	&:disabled {
		background: #CCE0FF;
	}
}

.default_filled {
	border-color: #CED2DA;
	color:#344051;

	&:hover {
		background: #F9FAFB;
	}

	&:disabled {
		border-color:#E3E5E5;
		color: #637083;
	}
}

.primary_text {
	color: #1975FF;
	
	&:hover {
		background: #F0F6FF;
	}

	&:focus {
		border-color: #CCE0FF;
	}

	&:disabled {
		border-color:#CCE0FF;
		color: #CCE0FF;
	}
}

.default_text {
	color:#344051;

	&:hover {
		background: #F9FAFB;
	}

	&:disabled {
		color: #637083;
	}
}

.clear {
	display: block;
	width: fit-content;
	padding: 0;
	border: none;
  background: none;
  color: #344051;
	float: left;

  &:disabled:not(.loading) {
    color: #637083;
  }
}