.input {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 12px;
	border: 1px solid #97A1AF;
	border-radius: 8px;
	background: none;
	color: #141C24;
	outline: none;
	transition: all 0.2s ease-out;

	&:focus {
		border: 1px solid #4C94FF;
	}

	&:hover {
		border: 1px solid #CED2DA;
	}

	&::placeholder {
		 color: #637083;
		}

	&:disabled {
		background:#F3F4F6 ;
		color: #637083;
	}
}

.error {

  & input {
    border: 1px solid;
    border-color: #F64C4C ;
  }

	& p {
		color: #F64C4C;
	}
}

.hint_message {
	color: #637083
}