.film_list {
  display: grid;
	gap: 50px;
  grid-template-columns: repeat(4, 1fr);
	place-content: space-between space-between;

  @media (width <= 600px) {
    grid-template-columns: 1fr;
  }

  @media (width >= 601px) and (width <= 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= 400px) {
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 1fr;
  }
}