.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.paragraph24_regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.paragraph20_regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.paragraph16_regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.paragraph14_regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.paragraph24_medium {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.paragraph20_medium {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.paragraph16_medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.paragraph14_medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.paragraph24_semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.paragraph20_semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.paragraph16_semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.paragraph14_semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.paragraph24_bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.paragraph20_bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.paragraph16_bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.paragraph14_bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}