.icon {
	color: var(--text-quartenery-color);
}

.button {
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	cursor: pointer;
	outline: none;
}

.button:hover .icon {
	color: var(--text-quartenery-color);
}