.link {
	color: var(--text-secondary-color);

	&:hover {
			color: var(--text-primary-color);
	}

	&:focus {
			color: var(--text-secondary-color);
	}

	&:disabled {
			color: var(--text-tertiary-color);
	}
}