.desktop_layouts {
  display: flex;
	flex-direction: column;
	padding: 0 50px ;
	margin: 0 auto;
}

.header {
	width: 100%;
	max-width: 1440px;
	padding: 24px 0;
	margin: 0 auto;
}

.content {
	width: 100%;
	max-width: 1440px;
	padding: 48px 0;
	margin: 0 auto;
}