.hall_display {
	position: relative;
	margin-bottom: 20px;

	&:after {
		position: absolute;
		top: 30px;
		width: 100%;
		height: 4px;
		border-radius: 16px;
		background-color: var(--indicator-light-color);
		content: '';
	}
}

.hall_matrix_number {
	width: 20px;
}


